<div class="usuario" id="printArea">
    <div class="col-md-6">
        <h3>Relatório de pedidos do Usuario</h3>
    </div>
    <div class="col-md-12  text-right">
        <button class="btn btn-success" ng-click="gerarPDF()">Baixar PDF</button>   
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>NOME USUÁRIO</th>
            <th>PEDIDOS REALIZADOS</th>
            <th>DATA DO ULTIMO PEDIDO</th>

        </tr>
    </thead>
    <tbody>
        <!-- Vou merchar quanod a api tiver funcionando  -->
        <tr ng-repeat="x in grid">
            <td style="width: 34%;">{{x.nome}}</td>
            <td style="width: 33%; text-align: end;">{{x.numeroPedidos}}</td>
            <td style="width: 33%; text-align: end;">{{x.ultimoPedidoRealizado}}</td>
        </tr>
    </tbody>
</table>