<form name="produtoForm" action="" method="post">
    <label>Nome</label>
    <input type="text" 
        class="form-control" 
        placeholder="Nome Produto" 
        ng-model="forms.nome"
        required>
    <br/>

    <div class="row">
        <div class="col-md-4">
            <label>Cor</label>
            <input type="text" 
                class="form-control" 
                placeholder="Cor produto" 
                ng-model="forms.cor"
                required>                
        </div>
        
        <div class="col-md-4">
            <label>Preço de Custo</label>
            <input type="number" 
                class="form-control" 
                placeholder="R$00,00" 
                ng-model="forms.precoCusto"
                minlength="0"
                required>                
        </div>
            <div class="col-md-4">
                <label>Preço de Venda</label>
                <input type="number" 
                    class="form-control" 
                    placeholder="R$00,00" 
                    ng-model="forms.precoVenda"
                    minlength="0"
                    required>                
            </div>
        </div>
    </div>   
</form>