<form action="" method="post">
    <label>Nome</label>
    <input type="text" 
        class="form-control" 
        placeholder="Nome Produto" 
        ng-model="forms.nome">
    <br/>

    <div class="row">
        <div class="col-md-4">
            <label>Cor</label>
            <input type="text" 
                class="form-control" 
                placeholder="Cor produto" 
                ng-model="forms.cor">                
        </div>
        
        <div class="col-md-4">
            <label>Preço de Custo</label>
            <input type="text" 
                class="form-control" 
                placeholder="R$00,00" 
                ng-model="forms.precoCusto">                
        </div>
            <div class="col-md-4">
                <label>Preço de Venda</label>
                <input type="text" 
                    class="form-control" 
                    placeholder="R$00,00" 
                    ng-model="forms.precoVenda">                
            </div>
        </div>
    </div>   
</form>