<div class="produto">
    <div class="col-md-6">
        <h3>Lista de Produto</h3>
    </div>
    <div class="col-md-12  text-right">
        <button class="btn btn-success" ng-click="modal(null)">Adicionar</button>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th style=" width:200px;">NOME</th>
            <th style=" width:200px;">COR</th>
            <th style=" width:200px;">PREÇO</th>

        </tr>
    </thead>
    <tbody>
        <!-- Vou merchar quanod a api tiver funcionando  -->
        <tr ng-repeat="x in grid">
            <td style="width:200px;">{{x.nome}}</td>
            <td style="width:200px;">{{x.cor}}</td>
            <td style="width:200px; text-align: end;">{{x.precoVenda}}</td>
            <td>
                <td width="180px">
                    <button 
                    ng-click="modal(x)" 
                     class="btn btn-info">  <!-- info é só a cor -->
                        Editar
                    </button>
                    <button 
                    ng-click="del(x.id)" 
                    class="btn btn-danger">
                        Excluir
                    </button>
                </td>
            </td>
        </tr>
    </tbody>
</table>