<div class="produtoRelatorio" id="printArea">
    <div class="col-md-6">
        <h3>Relatório de pedidos de um Produtos</h3>
    </div>
    <div class="col-md-12  text-right">
        <button class="btn btn-success" ng-click="gerarPDF()">Baixar PDF</button>   
    </div>
</div>

<!-- Por relatorio no aqui no grid -->

<table class="table">
    <thead> <!-- Cabeçalho da tabela -->
        <tr>
            <th>NOME PRODUTO</th>   
            <th>QUANTIDADE VENDIDA</th>
            <th>VALOR TOTAL</th>

        </tr>
    </thead>
    <tbody>
        <!-- Vou merchar quanod a api tiver funcionando  -->
        <tr ng-repeat="x in grid">
            <td style="width: 34%;">{{x.nomeProduto}}</td>
            <td style="width: 33%; text-align: end;">{{x.numeroPedido}}</td>
            <td style="width: 33%; text-align: end;">{{x.valorGerado}}</td>
        </tr>
    </tbody>
</table>