<form name="usuarioForm"  action="" method="post">
    <label>Nome</label>
    <input type="text" 
        class="form-control" 
        placeholder="Nome Completo" 
        ng-model="forms.nome"
        required>
    <br/>
    <div class="row">
        <div class="col-md-4">
            <label>Telefone</label>
            <input type="text" 
                class="form-control" 
                placeholder="(00) 00000-0000" 
                mask="(99) 99999-9999"
                ng-model="forms.telefone"
                minlength="15"
                maxlength="15">                
        </div>
        <div class="col-md-4">
            <label>CPF</label>
            <input type="CPF" 
                class="form-control" 
                placeholder="000.000.000-00" 
                mask="999.999.999-99"
                ng-model="forms.documento"
                maxlength="14"
                minlength="14"
                required>                
        </div>
        <div class="col-md-4">
            <label>Cargo</label>
            <input type="text" 
                class="form-control" 
                placeholder="Seu cargo" 
                ng-model="forms.cargo"  
                required>                
        </div>
    </div>
</form>